<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header.html :: headerfiles">
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<body><h1 class="title">Books Store <small>Book Detail</small></h1>
<div class="container">
    <table class="table table-hover">
        <thead>
        <th>Book name</th>
        <th>Price</th>
        <th>Image</th>
        </thead>
        <tbody>
        <tr>
            <td th:text="${book.getName()}"></td>
            <td th:text="${book.getPrice()}"></td>
            <td><img style="width: 200px; height: 400px" th:src="@{'images/'+${book.getImage_url()}}"></td>
        </tr>
        <tr>
            <td colspan="5"><a th:href="@{/}">Back to Listing</a></td>
        </tr>
        <tr>
            <td colspan="5"><a th:href="@{/viewCart}">View cart</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>